airlineapp-stage4/src/main/app/airline-service-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="multi-air-service-api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
    <http:listener-config name="api-httpsListenerConfig" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="server.jks" keyPassword="joy123" password="joy123" />
        </tls:context>
    </http:listener-config>
    <apikit:config name="multi-air-service-api-config" raml="multi-air-service-api.raml" consoleEnabled="false" doc:name="Router" />
    <flow name="multi-air-service-api-main">
        <http:listener config-ref="multi-air-service-api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="multi-air-service-api-config" doc:name="APIkit Router" />
        <exception-strategy ref="multi-air-service-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="multi-air-service-api-https">
        <http:listener config-ref="api-httpsListenerConfig" path="/api/*" doc:name="HTTPS" />
        <apikit:router config-ref="multi-air-service-api-config" doc:name="APIkit Router" />
        <exception-strategy ref="multi-air-service-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="multi-air-service-api-console">
        <http:listener config-ref="multi-air-service-api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="multi-air-service-api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="post:/allairlines/flights:multi-air-service-api-config">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object" />
        <logger message="All Airlines flow Invoked , request body #[payload]" level="INFO" doc:name="Logger" />
        <expression-component doc:name="request variable"><![CDATA[flowVars.source = payload.source;
flowVars.destination = payload.destination;]]></expression-component>
        <flow-ref name="allairlinesFlow" doc:name="allairlinesFlow" />
    </flow>
    <flow name="post:/allairlines/minfare:multi-air-service-api-config">
		<logger message="Airline Fare API Invoked" level="INFO" doc:name="Logger" />
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.HashMap" />
        <expression-component doc:name="Set Input"><![CDATA[flowVars.source = payload.source;
flowVars.destination = payload.destination;]]></expression-component>
        <flow-ref name="airline_fare_serviceFlow" doc:name="airline_fare_serviceFlow" />
    </flow>


    <flow name="post:/airlines/{airline}/flights:multi-air-service-api-config">
        <http:basic-security-filter realm="mule-realm" />
        <logger level="INFO" message="## passed security" doc:name="Logger" />
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object" />
        <logger message="Single Airlines request Invoke , Request Body #[payload]" level="INFO" doc:name="Logger" />
        <expression-component doc:name="request variable"><![CDATA[flowVars.source = payload.source;
flowVars.destination = payload.destination;
]]></expression-component>
        <flow-ref name="singleairlineFlow" doc:name="singleairlineFlow" />
    </flow>
    <flow name="post:/airlines/{airline}/minfare:multi-air-service-api-config">
        <logger message="Airline Fare API Invoked" level="INFO" doc:name="Logger" />
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.HashMap" />
        <expression-component doc:name="Set Input"><![CDATA[flowVars.source = payload.source;
flowVars.destination = payload.destination;]]></expression-component>
        <flow-ref name="airline_fare_serviceFlow" doc:name="airline_fare_serviceFlow" />
    </flow>


</mule>
